<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.bitbucket.com/utkarshsaxena">Bitbucket Repo.</a>
      by Utkarsh Saxena
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>